@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
:root {
  --primary: #176ede;
  --bg-primary: #fff;
  --bg-secondary: #edf2f8;
  --bg-terinary: #fafafa;
  --body-bg: #f5f8ff;
  --box-bg: #fff;
  --input-bg: #f5f8ff;
  --txt-color: #2f2d2f;
  --txt-second-color: #ccc;
  --border-color: #4267b2;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

body {
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--bg-secondary);
  color: var(--txt-color);
  height: 100%;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #d4d9e2;
}

.d-flex {
  display: flex !important;
  /* flex-direction: column !important; */
  justify-content: center !important;
  align-items: center !important;
  height: 100%;
}

.box {
  width: 100%;
  background-color: var(--box-bg);
  padding: 30px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.header {
  margin-bottom: 30px;
  text-align: center;
}

.img-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  border: 4px solid #d4d9e2;
  box-shadow: var(--box-shadow);
}

.btn-bg {
  background-color: rgba(0, 0, 0, 0.4) !important;
  color: white !important;
}

.drop-file-input {
  /* position: relative; */
  width: 100%;
  height: 200px;
  border: 2px dashed var(--border-color) !important;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--input-bg);
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-input__label {
  text-align: center;
  color: var(--txt-second-color);
  font-weight: 600;
  padding: 10px;
}

.drop-file-input__label img {
  width: 100px;
}

.drop-file-preview {
  margin-top: 30px;
}

.drop-file-preview p {
  font-weight: 500;
}

.drop-file-preview__title {
  margin-bottom: 20px;
}

.drop-file-preview__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: var(--input-bg);
  padding: 15px;
  border-radius: 20px;
}

.drop-file-preview__item img {
  width: 50px;
  margin-right: 10px;
}

.drop-file-preview__item__info {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-direction: column;
  justify-content: space-between;
}
.drop-file-preview__item__info > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drop-file-preview__item__del {
  background-color: var(--box-bg);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}
